/**
 * Utilities
 *
 */

/*
 * Position
 *
 */

.u-pull-left  { float: left; }
.u-pull-right { float: right; }
.u-clear      { clear: both; }

.u-block { display: block;  }

.u-align-right  { text-align: right; }
.u-align-left   { text-align: left; }
.u-align-center { text-align: center; }


/*
 * Type
 *
 */

.u-lowercase { text-transform: lowercase; }
.u-uppercase { text-transform: uppercase; }

.u-big { font-size: 2em; }

.u-bold { font-weight: bold; }


/*
 * Size
 *
 */

.u-small {
  font-size: 21px;
}

.u-medium {
  font-size: 21px;
}

/*
 * Padding
 *
 */

.u-padding-left-xsmall { padding-left: 15px; }
.u-padding-left-small { padding-left: 30px; }
.u-padding-left-medium { padding-left: 60px; }
.u-padding-left-large { padding-left: 120px; }


/*
 * Margin
 *
 */

.u-margin-bottom-xsmall { margin-bottom: 15px; }
.u-margin-bottom-small { margin-bottom: 30px; }
.u-margin-bottom-medium { margin-bottom: 60px; }
.u-margin-bottom-large { margin-bottom: 120px; }
