/**
 * Global
 *
 */

html,
body {
  font-size: 16PX; // ignored by pxtorem
}

body {
  background-color: @base-background-color;
  color: @base-text-color;
  font-family: @font-primary;
  .m-font-smoothing();
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
